body {
    width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
}

form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
}

form > div > label {
    width: 10em;
}

form > div > input[type=text] {
    flex: 1;
}

input[type=date],
input[type=text] {
    padding: 0.5em;
    font-family: sans-serif;
    font-size: 1em;
    background-color: white;
    border: 1px silver solid;
}

table {
    margin-top: 1em;
    width: 100%;
    border: 1px black solid;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0.5em;
    border: 1px black solid;
}

th {
    padding: 0.5em;
    text-align: left;
    background-color: #eee;
    border: 1px black solid;
}
